
.login-method {
    .icon {
      width: 32px;
    }
  
    img {
      height: 30px;
    }
  
    p {
      font-size: 26px;
    }
  }
  
  .bg-blue-dark {
    background-color: var(--blue-dark);
    color: white;
  }
  

  .fs-26{
    font-size: 26px;
  }