<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">Users</span>
    <h3 class="page-title">Edit field</h3>
  </div>
</div>
<!-- End Page Header -->

<div class="row">
  <div class="col-lg-6 col-md-12">
    <!-- Add New Page Form -->
    <div class="card card-small mb-3">
      <div class="card-body">
        <form [formGroup]="form" *ngIf="form">
          {{ form.valid ? "Note the Reqired fileds" : "" }}
          <div *ngFor="let field of usersSchema$ | async">
            <ng-container
              *ngIf="
                field.key !== 'organizationsIds' &&
                field.key !== 'teamsIds' &&
                field.key !== 'roles' &&
                field.key !== 'permissions'
              "
            >
              {{ field.required ? "*" : "" }}

              {{ field.key }}

              <ng-container *ngIf="field.type.id === 'array'">
                <app-array
                  [f]="form.get(field.key)"
                  [schema]="field.type"
                  [data]="users ? users[field.key] : undefined"
                ></app-array>
              </ng-container>

              <ng-container *ngIf="field.type.id === 'map'">
                <app-map
                  [f]="form.get(field.key)"
                  [schema]="field.type"
                  [data]="users ? users[field.key] : undefined"
                ></app-map>
              </ng-container>

              <div *ngIf="field.type.id === 'string'">
                <app-string
                  [f]="form.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-string>
              </div>

              <ng-container *ngIf="field.type.id === 'number'">
                <app-number
                  [f]="form.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-number>
              </ng-container>

              <ng-container *ngIf="field.type.id === 'boolean'">
                <app-boolean
                  [f]="form.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-boolean>
              </ng-container>
            </ng-container>
          </div>
        </form>
      </div>
    </div>

    <!-- / Add New Page Form -->
  </div>
  <div class="col-lg-6 col-md-12">
    <!-- Page Overview -->
    <div class="card card-small mb-3">
      <div class="card-header border-bottom">
        <h6 class="m-0"> Actions</h6>
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex px-3 pt-3">
            <button
              [disabled]="form?.valid && form1?.valid && form2?.valid"
              class="btn btn-sm btn-white"
              routerLink="/users"
            >
              Cancel
            </button>
            <button (click)="save()" class="btn btn-sm btn-accent ml-auto">
              <i class="material-icons">save</i> Save
              <i
                *ngIf="saveLoading"
                class="fas fa-circle-notch fa-spin ml-1"
              ></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <!-- / Page Overview -->
    <div class="card card-small mb-3">
      <div class="card-body">
        <form [formGroup]="form1" *ngIf="form1">
          <div *ngFor="let field of usersSchema$ | async">
            <ng-container
              *ngIf="field.key === 'organizationsIds' || field.key === 'teamsIds'"
            >
              {{ field.required ? "*" : "" }}
              {{ field.key }}

              <ng-container *ngIf="field.type.id === 'array'">
                <app-array
                  [f]="form1.get(field.key)"
                  [schema]="field.type"
                  [data]="users ? users[field.key] : undefined"
                ></app-array>
              </ng-container>

              <ng-container *ngIf="field.type.id === 'map'">
                <app-map
                  [f]="form1.get(field.key)"
                  [schema]="field.type"
                  [data]="users ? users[field.key] : undefined"
                ></app-map>
              </ng-container>

              <div *ngIf="field.type.id === 'string'">
                <app-string
                  [f]="form1.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-string>
              </div>

              <ng-container *ngIf="field.type.id === 'number'">
                <app-number
                  [f]="form1.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-number>
              </ng-container>

              <ng-container *ngIf="field.type.id === 'boolean'">
                <app-boolean
                  [f]="form1.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-boolean>
              </ng-container>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
    <!-- / Add New Page Form -->

    <div class="card card-small mb-3">
      <div class="card-body">
        <form [formGroup]="form2" *ngIf="form2">
          <div *ngFor="let field of usersSchema$ | async">
            <ng-container
              *ngIf="field.key === 'roles' || field.key === 'permissions'"
            >
              {{ field.required ? "*" : "" }}

              {{ field.key }}

              <ng-container *ngIf="field.type.id === 'array'">
                <app-array
                  [f]="form2.get(field.key)"
                  [schema]="field.type"
                  [data]="users ? users[field.key] : undefined"
                ></app-array>
              </ng-container>

              <ng-container *ngIf="field.type.id === 'map'">
                <app-map
                  [f]="form2.get(field.key)"
                  [schema]="field.type"
                  [data]="users ? users[field.key] : undefined"
                ></app-map>
              </ng-container>

              <div *ngIf="field.type.id === 'string'">
                <app-string
                  [f]="form2.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-string>
              </div>

              <ng-container *ngIf="field.type.id === 'number'">
                <app-number
                  [f]="form2.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-number>
              </ng-container>

              <ng-container *ngIf="field.type.id === 'boolean'">
                <app-boolean
                  [f]="form2.get(field.key)"
                  [data]="users ? users[field.key] : undefined"
                  [name]="field.key"
                ></app-boolean>
              </ng-container>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
