<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" (click)="dashboard()">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="users()">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="organization()">Organizations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="team()">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="permission()">Permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="roles()">roles</a>
    </li>
  </ul>
  <!-- <span class="copyright ml-auto my-auto mr-2">
      Made with <i class="material-icons heart">favorite</i> by <a href="https://github.com/AXeL-dev" target="_blank">AXeL</a>
    </span> -->
</footer>
