<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/organizations">Organizations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/teams">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/permissions">Permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/roles">roles</a>
    </li>
  </ul>
  <!-- <span class="copyright ml-auto my-auto mr-2">
      Made with <i class="material-icons heart">favorite</i> by <a href="https://github.com/AXeL-dev" target="_blank">AXeL</a>
    </span> -->
</footer>
